<!DOCTYPE html>
<html>
  <body>
    <header>
      <%= render 'partials/header' %>
    </header>
    <h1>Welcome <%= current_user.name %></h1>
    <% @ideas.each do |idea| %>
      <ul>
        <li>
          <%= idea.title %>
        </li>
        <li>
        <%= idea.description %>
        </li>
      </ul>
    <% end %>
  </body>
</html>
